@import "./base/base.scss";
@import "./base/typography.scss";
@import "./components/buttons.scss";
@import "./layout/header.scss";
@import "./layout/nav.scss";
@import "./layout/container.scss";
@import "./layout/form.scss";
@import "./pages/about.scss";
@import "./pages/project.scss";
@import "./pages/work.scss";
@import "./utils/variables";
@import "./utils/fonctions";
@import "./utils/Mixins";
@import "./utils/Placeholders";






img {
    height: 300px;
    width: 300px;
}

article {
    border: 2px solid black;
    background-color: sandybrown;
}

nav {
    background-color: aquamarine;
}
header {
    background-color: firebrick;
}

footer {
    background-color: palegreen;
}
