@import "./base/base.scss";
@import "./base/typography.scss";
@import "./utils/variables";
@import "./utils/fonctions";
@import "./utils/Keyframes";
@import "./utils/Mixins";
@import "./utils/Placeholders";
@import "./components/buttons.scss";
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./layout/container.scss";
@import "./layout/form.scss";
@import "./pages/about.scss";
@import "./pages/project.scss";
@import "./pages/work.scss";
@import "./themes/animations";

/* Page d'accueil */

.home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: $grey-light;
    p {
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
    }
    &__logo {
        width: 26%;
        min-width: 180px;
        max-width: 300px;
        height: auto;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    &__search-bar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        height: 50px;
        background-color: $grey-dark;
        & input {
            border: none;
            @include Text-s;
            font-weight: 500;
            padding-left: 20px;
            width: 50%;
            background-color: $grey-dark;
        }
        form {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__title {
        text-align: center;
        @include Text-l;
        padding: 40px 50px 5px 40px;
    }
    &__subtitle {
        text-align: center;
        @include Text-m;
        padding: 0px 0px 0px 20px;
    }
}

.home-nav {
    background-color: white;
    &__Title {
        @include Text-l;
        padding: 45px 0px 30px 15px;
    }
    &__Buttons-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 45px;
    }
}

.restaurants-part {
    &__card-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 14px;
        padding-bottom: 75px;
    }
        &__Title {
        @include Text-l;
        padding: 50px 0px 25px 15px;
    }
    background-color: $grey-light;
    height: auto;
    @include Text-l;
}

/* Pages restaurants */

.restaurants-part img {
    width: 100%;
}

.restaurants-pages-nav {
    display: flex;
    justify-content: space-between;
    background-color: $grey-light;
    @include Text-m;
    font-family: Shrikhand, Roboto, 'sans-serif';
    border-radius: 35px 35px 0px 0px;
    position: absolute;
    top: 280px;
    box-sizing: border-box;
    width: 100%;
    & h1 {
        position: relative;
        top: 40px;
        left: 5%;
        width: 80%;
        height: 87px;
    }
    /* Empty heart for animation */
    & i:nth-child(2) {
        position: relative;
        padding-top: 60px;
        margin-right: 10%;
        opacity: 1;
    }
    /* Full heart for animation */
    & i:nth-child(3) {
        position: absolute;
        right: 10%;
        top: 60px;
        z-index: -1;
        color: palevioletred;
    }
}

.restaurant-heart {
    float: right;
}

.restaurants-pages-menu {
    background-color: $grey-light;
    &__Title {
        @include Text-s;
        padding: 70px 0px 0px 12px;
        width: 20%;
        align-self: baseline;
        span { 
            padding-bottom: 4px;
            border-bottom: 4px solid $color-tertiary;
        }
    }
    &__Title2 {
        padding-top: 40px;
    }
    + div {
        display: flex;
        justify-content: center;
        background-color: $grey-light;
    }
    &__buttons-part {
        width: auto;
        padding: 20px 0px 0px 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 17px;
    }
}

/* Problème sur les très petits ecrans : 
le h1 de restaurants-pages-nav passe a la ligne 
et comme nous avons des positions absolues à cause de l'img et des border radius de restaurants-pages-nav
le h1 empiète sur le restaurants-pages-menu__Title */

@media only screen and (max-width : 400px) {
    .restaurants-pages-menu__Title {
            padding-top: 100px;
    }
}





/* Media queries Page d'accueil */
/** Version tablette **/

@media only screen and (min-width : 780px)
{

    .home-nav__Buttons-part {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
    }
    .home-nav__button {
        padding-right: 10px;
        width: 25%;
        min-width: 200px;
    }

    .restaurants-part-card {
        width: 40%;
        height: 320px;
        &__text h3 {
            padding-right: 10px; /*sinon trop proche du coeur*/
        }
        &__new {
            position: relative;
            right: 0;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
      }    
    }

    .restaurants-part__card-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}

/** Version Web **/

@media only screen and (min-width : 992px)
{

    .home-header__explore-button, .restaurants-pages-button-order
    {
        width: 40%;
    }

    .home-nav__Buttons-part {
        width: 80%;
        margin-left: 50px;
        gap: 20px;
    }
    .home-nav__button {
        padding-right: 50px;
        max-width: 280px;
    }

    .restaurants-part-card {
        width: 20%;
    }        
}


/* Media queries Pages restaurants */
/** Version tablette **/

@media only screen and (min-width : 780px)
{
    .restaurants-pages-header__picture {
    object-fit: cover;
    height: 350px;
    }

    .restaurants-pages-nav {
    top: 370px;
    height: 150px;
    i:nth-child(2) {
        margin-right: 5%;
    }
    i:nth-child(3) {
        right: 5%;
        top: 60px;
        background-color: red;
    }
    }

    .restaurants-pages-menu {
    padding-top: 70px;
    &__Title {
        padding-left: 50px;
    }
    }

    .restaurants-pages-menu__buttons-part {
        align-items: flex-start;
        padding-left: 40px;
    }

    .restaurants-pages-button {
        padding-left: 30px;
        width: 80%;
        &__text {
            ~ p {
                padding-top: 30px;
                padding-right: 30px;
            }
        }
    }
}


/** Version Web **/

@media only screen and (min-width : 992px)
{
    .restaurants-pages-header__picture {
        height: 450px;
    }
    .restaurants-pages-nav {
        top: 450px;
    }
    .restaurants-pages-button {
        width: 28%;
        height: 80px;
        padding: 10px 0px 10px 10px;
        &__text {
            margin-right: 10px;
            ~ p {
                padding-top: 50px;
                padding-right: 20px;
            }
        }
        &-part {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 17px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .restaurants-pages-menu__buttons-part {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 17px;
        padding-left: 20px;
        padding-right: 20px;
    }
}




