@import "./base/base.scss";
@import "./base/typography.scss";
@import "./utils/variables";
@import "./utils/fonctions";
@import "./utils/Mixins";
@import "./utils/Placeholders";
@import "./components/buttons.scss";
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./layout/container.scss";
@import "./layout/form.scss";
@import "./pages/about.scss";
@import "./pages/project.scss";
@import "./pages/work.scss";

/* Page d'accueil */

.home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: $grey-light;
    p {
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
    }
    &__logo {
        width: 180px;
        height: auto;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    &__search-bar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        height: 50px;
        background-color: $grey-dark;
        & input {
            border: none;
            @include Text-s;
            font-weight: 500;
            padding-left: 20px;
            width: 50%;
            background-color: $grey-dark;
        }
        form {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__title {
        text-align: center;
        @include Text-l;
        padding: 40px 50px 5px 40px;
    }
    &__subtitle {
        text-align: center;
        @include Text-m;
        padding: 0px 0px 0px 20px;
    }
}

.home-nav {
    background-color: white;
    &__Title {
        @include Text-l;
        padding: 45px 0px 30px 15px;
    }
    &__Buttons-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 45px;
    }
}

.restaurants-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $grey-light;
    height: auto;
    @include Text-l;
    row-gap: 15px;
    padding-bottom: 55px;
    &__Title {
        align-self: flex-start;
        @include Text-l;
        padding: 50px 0px 0px 15px;
    }
}

/* Pages restaurants */

.restaurants-part img {
    width: 100%;
}

.restaurants-pages-nav {
    display: flex;
    justify-content: space-between;
    background-color: $grey-light;
    padding: 30px 40px 20px 15px;
    @include Text-m;
    font-family: Shrikhand, Roboto, 'sans-serif';
    border-radius: 35px 35px 0px 0px;
    position: absolute;
    top: 280px;
    box-sizing: border-box;
    width: 100%;
    & i {
        padding-top: 16px;
    }
}

.restaurants-pages-menu {
    background-color: $grey-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    &__Title {
        @include Text-s;
        padding: 68px 0px 0px 12px;
        width: 20%;
        align-self: baseline;
        span { 
            padding-bottom: 4px;
            border-bottom: 4px solid $color-tertiary;
        }
    }
    &__Title2 {
        padding-top: 45px;
    }
    + div {
        display: flex;
        justify-content: center;
    }
}
