footer {
    background-color: #353535;
    padding-bottom: 50px;
    img {
        padding: 31px 0px 20px 30px;
        filter: invert(1);
        width: 26%;
        height: 26%;
    }
}

.footer-part {
    @include Text-m;
    padding: 5px 0px 0px 30px;
    i {
        color: white;
        margin-right: 10px;
    }
    a {
        color: white;
    }
}