@charset "UTF-8";
/* Généralités */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.container {
  box-sizing: border-box;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

::placeholder {
  color: black;
}

html, body, div, ul, ol, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* Police Roboto */
/* Police Shrikhand */
/* Colors */
/* Spinner data */
/* Loading spinner for home page */
@keyframes spinner-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes dot-moving {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes spinner-disparition {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes container-opacity-during-spinner {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
/* Pink heart appearring for favorite restaurant */
@keyframes pink-heart {
  0% {
    z-index: -1;
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}
/* Menu appearance for restaurants pages */
@keyframes menu-appearance {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    /* Correction de l'intensité de la translation après soutenance */
    transform: translateY(-15%);
  }
}
/* Not asked : entry of title from left */
@keyframes title-entry {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
/* Font sizes */
/* Borders */
/* Spinner data */
/* Boutton commun page d'accueil et pages restaurants */
.home-header__explore-button, .restaurants-pages-button-order {
  margin: 25px 0px 60px 0px;
  width: 58%;
  height: 50px;
  display: flex;
  justify-content: center;
  border: 1px solid #EAEAEA;
  border-radius: 30px;
  box-shadow: 5px 5px 30px #EAEAEA;
  font-size: 15px;
  color: black;
  font-family: Roboto, "comic sans ms", sans-serif;
  font-weight: 200;
  color: white;
  cursor: pointer;
  /* couleur du bouton : gradient de 4 couleures et non 2 pour le hover */
  background: -webkit-linear-gradient(180deg, #ff79da, #9356dc, #fface8, #ae80e5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(180deg, #ff79da, #9356dc, #fface8, #ae80e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100% 300%;
}

/* Page d'accueil */
.home-nav__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: black;
  font-family: Roboto, "comic sans ms", sans-serif;
  font-weight: 200;
  font-weight: 400;
  width: 70%;
  max-width: 350px;
  height: 70px;
  background-color: #F7F7F7;
  border-radius: 25px;
  box-shadow: 5px 5px 30px #EAEAEA;
  border: 1px solid #EAEAEA;
  padding-right: 50px;
  margin-bottom: 25px;
}
.home-nav__button-number {
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  padding: 5px 10px 5px 10px;
  margin-left: -15px;
}
.home-nav__button-icone {
  color: grey;
}

.restaurants-part-card {
  width: 90%;
  height: auto;
  border-radius: 20px;
  font-size: 15px;
  color: black;
  font-family: Roboto, "comic sans ms", sans-serif;
  font-weight: 200;
  box-shadow: 5px 5px 30px #EAEAEA;
  background-color: white;
}
.restaurants-part-card__img {
  height: 176px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.restaurants-part-card__new {
  background-color: #99E2D0;
  display: inline-block;
  padding: 5px 15px 5px 15px;
  color: #008766;
  border-radius: 4px;
  position: absolute;
  right: 45px;
  margin-top: 10px;
}
.restaurants-part-card__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 25px 13px 15px;
  font-size: 15px;
  color: black;
  font-family: Roboto, "comic sans ms", sans-serif;
  font-weight: 200;
  height: auto;
}
.restaurants-part-card__text h3 {
  font-weight: 600;
  padding-bottom: 8px;
}

/* Pages Restaurants */
.restaurants-pages-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  min-height: 65px;
  height: auto;
  border: 1px solid #EAEAEA;
  padding: 10px 0px 10px 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 30px #EAEAEA;
  white-space: nowrap;
}
.restaurants-pages-button label {
  display: none;
}
.restaurants-pages-button input {
  display: none;
}
.restaurants-pages-button__text {
  width: 100%;
  max-width: 80%;
  font-size: 15px;
  color: black;
  font-family: Roboto, "comic sans ms", sans-serif;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.restaurants-pages-button__text :nth-child(1) {
  font-weight: 400;
  font-size: larger;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.restaurants-pages-button__text :nth-child(2) {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.restaurants-pages-button__text ~ p {
  font-size: 15px;
  color: black;
  font-family: Roboto, "comic sans ms", sans-serif;
  font-weight: 200;
  font-weight: 400;
  padding-top: 40px;
  padding-right: 10%;
  padding-left: 2%;
  /* Correction de l'ellipsis après soutenance (translation -> width)*/
  transition: all 1s;
}

.restaurants-pages-button-order {
  margin-top: 40px;
  margin-bottom: 40px;
}

.restaurants-pages-header__logo-part {
  background-color: white;
  padding: 20px 0px 15px 10px;
}
.restaurants-pages-header__logo {
  width: 170px;
  height: auto;
}
.restaurants-pages-header p {
  display: flex;
  justify-content: center;
}
.restaurants-pages-header a {
  position: absolute;
  top: 25px;
  left: 25px;
}
.restaurants-pages-header__picture {
  width: 100%;
  height: 250px;
  display: flex;
  vertical-align: baseline;
}

footer {
  background-color: #353535;
  padding-bottom: 50px;
}
footer img {
  padding: 25px 0px 20px 20px;
  filter: invert(1);
  width: 26%;
  min-width: 100px;
  max-width: 200px;
  height: 26%;
}

.footer-part {
  font-size: 15px;
  color: black;
  font-family: Roboto, "comic sans ms", sans-serif;
  font-weight: 200;
  padding: 5px 0px 0px 20px;
}
.footer-part i {
  color: white;
  margin-right: 10px;
}
.footer-part a {
  color: white;
}

/* Loading spinner for home page */
.spinner {
  width: 200px;
  height: 200px;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 18%;
  border-top: 12px solid #9356DC;
  border-right: 12px solid transparent;
  border-radius: 50%;
  animation: spinner-rotation 2s cubic-bezier(0.4, 0.41, 0.94, 0.84) 150ms 3 both, spinner-disparition 200ms linear 3150ms both;
  opacity: 1;
}
.spinner__text {
  font-size: 25px;
  color: black;
  font-family: Roboto, "comic sans ms", sans-serif;
  font-weight: 500;
  height: auto;
  width: 150px;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 30%;
  text-align: left;
  opacity: 1;
  animation: spinner-disparition 200ms linear 3150ms both;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.spinner__point--A {
  border: 6px solid #9356DC;
  border-radius: 50%;
  opacity: 1;
  animation: dot-moving 300ms infinite alternate, spinner-disparition 200ms linear 3150ms both;
}
.spinner__point--B {
  border: 6px solid #9356DC;
  border-radius: 50%;
  opacity: 1;
  animation: dot-moving 300ms 50ms infinite alternate, spinner-disparition 200ms linear 3150ms both;
}
.spinner__point--C {
  border: 6px solid #9356DC;
  border-radius: 50%;
  opacity: 1;
  animation: dot-moving 300ms 100ms infinite alternate, spinner-disparition 200ms linear 3150ms both;
}

.container__home {
  opacity: 0.1;
  animation: container-opacity-during-spinner 200ms linear 3150ms both;
}

/* Transition on hover over main buttons for home page */
.home-nav__button {
  transition: box-shadow 1500ms, background-color 1500ms;
}
.home-nav__button:hover {
  box-shadow: 5px 5px 30px #d1d1d1;
  background-color: #fafafa;
  transition: box-shadow 500ms, background-color 500ms;
}

.restaurants-pages-button {
  transition: box-shadow 1500ms;
}
.restaurants-pages-button:hover {
  box-shadow: 5px 5px 30px #d1d1d1;
  transition: box-shadow 500ms;
}

.home-header__explore-button, .restaurants-pages-button-order {
  transition: box-shadow 500ms, background-position 10ms;
}
.home-header__explore-button:hover, .restaurants-pages-button-order:hover {
  box-shadow: 5px 5px 30px #d1d1d1;
  background-position: 0% 100%;
  transition: box-shadow 500ms, background-position 10ms;
}

/* NB: Il n'est pas possible d'animer la propriété "Background" alors 
j'ai créé un background plus grand avec 2 couleurs plus claires
et j'ai fait varier la position du background verticalement.
Problème: la durée de la transition doit etre très courte sinon on voit le background défiler*/
/* Full Pink heart appearring */
#heart2 {
  height: 25px;
  width: 25px;
  fill: transparent;
  stroke: black;
  stroke-width: 2;
  position: relative;
}

#heart {
  height: 30px;
  width: 30px;
  fill: transparent;
  stroke: black;
  stroke-width: 2;
  position: relative;
  padding-top: 40px;
  margin-right: 10%;
  opacity: 1;
}

#heart :hover, #heart :active, #heart2 :hover, #heart2 :active {
  fill: #E453B4;
  stroke: #b51c82;
  transition: fill 0.8s ease-out, stroke 0.6s 0.2s ease-out;
  transform-origin: top right;
}

/* Menu appearance for restaurants pages */
.restaurants-pages-button--starter {
  animation: menu-appearance 1500ms both;
}
.restaurants-pages-button--dish {
  animation: menu-appearance 1500ms 500ms both;
}
.restaurants-pages-button--dessert {
  animation: menu-appearance 1500ms 1s both;
}

/* Not asked : entry of title from left */
.restaurants-pages-menu__Title {
  animation: title-entry ease-out 700ms both;
}

/* Dishes's selection */
.restaurants-pages-button {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.restaurants-pages-button__checked {
  transition: width 1s; /*Correction du check retour (sorti de la balise :hover) après soutenance*/
}
.restaurants-pages-button:hover .restaurants-pages-button__checked {
  margin-right: 0px;
  width: 20%;
}
.restaurants-pages-button:hover i {
  transform: rotate(360deg);
  transition: transform 1s;
}
.restaurants-pages-button:hover .restaurants-pages-button__text {
  overflow: hidden;
}
.restaurants-pages-button:hover .restaurants-pages-button__text ~ p {
  background-color: white;
  /* Correction de l'ellipsis après soutenance (translation -> width)*/
  width: 20%;
  margin-right: 20%;
}
.restaurants-pages-button .restaurants-pages-button__checked {
  color: white;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0%;
  right: 0%;
  border-radius: 0px 10px 10px 0px;
  overflow: hidden;
}

/* Page d'accueil */
.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: #F7F7F7;
}
.home-header p {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}
.home-header__logo {
  width: 26%;
  min-width: 180px;
  max-width: 300px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}
.home-header__search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  height: 50px;
  background-color: #EAEAEA;
}
.home-header__search-bar input {
  border: none;
  font-size: 15px;
  color: black;
  font-family: Roboto, "comic sans ms", sans-serif;
  font-weight: 200;
  font-weight: 500;
  padding-left: 20px;
  width: 50%;
  background-color: #EAEAEA;
}
.home-header__search-bar form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-header__title {
  text-align: center;
  font-size: 25px;
  color: black;
  font-family: Roboto, "comic sans ms", sans-serif;
  font-weight: 500;
  padding: 40px 50px 5px 40px;
}
.home-header__subtitle {
  text-align: center;
  font-size: 20px;
  color: black;
  font-family: Roboto, "comic sans ms", sans-serif;
  font-weight: 300;
  padding: 0px 0px 0px 20px;
}

.home-nav {
  background-color: white;
}
.home-nav__Title {
  font-size: 25px;
  color: black;
  font-family: Roboto, "comic sans ms", sans-serif;
  font-weight: 500;
  padding: 45px 0px 30px 15px;
}
.home-nav__Buttons-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 45px;
}

.restaurants-part {
  background-color: #F7F7F7;
  height: auto;
  font-size: 25px;
  color: black;
  font-family: Roboto, "comic sans ms", sans-serif;
  font-weight: 500;
}
.restaurants-part__card-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 14px;
  padding-bottom: 75px;
}
.restaurants-part__Title {
  font-size: 25px;
  color: black;
  font-family: Roboto, "comic sans ms", sans-serif;
  font-weight: 500;
  padding: 50px 0px 25px 15px;
}

/* Pages restaurants */
.restaurants-part img {
  width: 100%;
}

.restaurants-pages-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #F7F7F7;
  font-size: 20px;
  color: black;
  font-family: Roboto, "comic sans ms", sans-serif;
  font-weight: 300;
  font-family: Shrikhand, Roboto, "sans-serif";
  border-radius: 35px 35px 0px 0px;
  position: absolute;
  top: 280px;
  box-sizing: border-box;
  width: 100%;
}
.restaurants-pages-nav h1 {
  position: relative;
  top: 40px;
  left: 5%;
  width: 80%;
  height: 87px;
}

.restaurants-pages-menu {
  background-color: #F7F7F7;
}
.restaurants-pages-menu__Title {
  font-size: 15px;
  color: black;
  font-family: Roboto, "comic sans ms", sans-serif;
  font-weight: 200;
  padding: 70px 0px 10px 12px;
  width: 20%;
  align-self: baseline;
}
.restaurants-pages-menu__Title span {
  padding-bottom: 4px;
  border-bottom: 4px solid #99E2D0;
}
.restaurants-pages-menu__Title2 {
  padding-top: 40px;
}
.restaurants-pages-menu + div {
  display: flex;
  justify-content: center;
  background-color: #F7F7F7;
}
.restaurants-pages-menu__buttons-part {
  width: auto;
  padding: 20px 0px 0px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 17px;
}

/* Problème sur les très petits ecrans : 
le h1 de restaurants-pages-nav passe a la ligne 
et comme nous avons des positions absolues à cause de l'img et des border radius de restaurants-pages-nav
le h1 empiète sur le restaurants-pages-menu__Title */
@media only screen and (max-width: 400px) {
  .restaurants-pages-menu__Title {
    padding-top: 100px;
  }
}
/* Media queries Page d'accueil */
/** Version tablette **/
@media only screen and (min-width: 780px) {
  .home-nav__Buttons-part {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
  }
  .home-nav__button {
    padding-right: 10px;
    width: 25%;
    min-width: 200px;
  }
  .restaurants-part-card {
    width: 40%;
    height: 280px;
  }
  .restaurants-part-card__text {
    margin-top: -20px;
  }
  .restaurants-part-card__new {
    position: relative;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -65%;
    right: -73%;
  }
  .restaurants-part__card-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/** Version Web **/
@media only screen and (min-width: 992px) {
  .home-header__explore-button, .restaurants-pages-button-order {
    width: 40%;
  }
  .home-nav__Buttons-part {
    width: 80%;
    margin-left: 50px;
    gap: 20px;
  }
  .home-nav__button {
    padding-right: 50px;
    max-width: 280px;
  }
  .restaurants-part-card {
    width: 22%;
  }
  .restaurants-part-card__new {
    right: -62%;
  }
}
@media only screen and (min-width: 1540px) {
  /* Ajout necessaire d'une taille intermédiaire pour positionner correctement le new*/
  .restaurants-part-card__new {
    right: -75%;
  }
}
/* Media queries Pages restaurants */
/** Version tablette **/
@media only screen and (min-width: 780px) {
  .restaurants-pages-header__picture {
    object-fit: cover;
    height: 350px;
  }
  .restaurants-pages-nav {
    top: 370px;
    height: 150px;
  }
  #heart {
    scale: 1.5;
  }
  .restaurants-pages-menu {
    padding-top: 70px;
  }
  .restaurants-pages-menu__Title {
    padding-left: 50px;
  }
  .restaurants-pages-menu__buttons-part {
    align-items: flex-start;
    padding-left: 40px;
  }
  .restaurants-pages-button {
    padding-left: 30px;
    width: 80%;
  }
  .restaurants-pages-button__text ~ p {
    padding-top: 30px;
    padding-right: 30px;
  }
}
/** Version Web **/
@media only screen and (min-width: 992px) {
  .restaurants-pages-header__picture {
    height: 450px;
  }
  .restaurants-pages-nav {
    top: 450px;
  }
  .restaurants-pages-button {
    width: 28%;
    height: 80px;
    padding: 10px 0px 10px 10px;
  }
  .restaurants-pages-button__text {
    margin-right: 10px;
  }
  .restaurants-pages-button__text ~ p {
    padding-top: 50px;
    padding-right: 25px;
  }
  .restaurants-pages-button-part {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 17px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .restaurants-pages-menu__buttons-part {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 17px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
