/* Boutton commun page d'accueil et pages restaurants */

.home-header__explore-button, .restaurants-pages-button-order {
    margin: 25px 0px 60px 0px;
    width: 58%;
    height: 50px;
    display: flex;
    justify-content: center;
    border: 1px solid $grey-dark;
    border-radius: 30px;
    @include Border-shadow;
    @include Text-s; 
    color: white;  
    cursor: pointer;

    /* couleur du bouton : gradient de 4 couleures et non 2 pour le hover */
    background: -webkit-linear-gradient(180deg, #ff79da,#9356dc,#fface8,#ae80e5);/* Chrome 10-25, Safari 5.1-6 */                          
    background: linear-gradient(180deg, #ff79da,#9356dc,#fface8,#ae80e5);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    background-size: 100% 300%;                                 
}

/* Page d'accueil */

.home-nav__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include Text-s;
    font-weight: 400;
    width: 70%;
    max-width: 350px;
    height: 70px;
    background-color: $grey-light;
    border-radius: 25px;
    @include Border-shadow; 
    border: 1px solid $grey-dark;
    padding-right: 50px;
    margin-bottom: 25px;
    &-number {
    background-color: $color-primary;
    border-radius: 50%;
    color: white;
    padding: 5px 10px 5px 10px;
    margin-left: -15px;
    }
    &-icone {
        color: grey;
    }
}

.restaurants-part-card {
width: 90%;
height: auto;
border-radius: 20px;
@include Text-s;
@include Border-shadow; 
background-color: white;
    &__img {
        height: 176px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
    &__new {
        background-color: #99E2D0;
        display: inline-block;
        padding: 5px 15px 5px 15px;
        color: #008766;
        border-radius: 4px;
        position: absolute;
        right: 45px;
        margin-top: 10px;
    }
    &__text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 25px 13px 15px;
        @include Text-s;
        height: auto;
    }
    &__text h3 {
        font-weight: 600;
        padding-bottom: 8px;
    }
    &__heart {
        position: relative;
        width: 5%;
        height: auto;
        & :nth-child(1) {
             /* Empty heart for animation */
             position: relative;
             opacity: 1;
        }
        & :nth-child(2) {
            /* Full heart for animation */
            position: relative;
            top: -39%;
            z-index: -1;
            color: palevioletred;
        }
    }
}


/* Pages Restaurants */

.restaurants-pages-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    width: 90%;
    min-height: 65px;
    height: auto;
    border: 1px solid $grey-dark;
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
    background-color: white;
    @include Border-shadow;
    & label {
        display: none;
    }
    & input {
        display: none
    }
    &__text {
        width: 100%;
        @include Text-s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        :nth-child(1) {
            font-weight: 400;
            font-size: larger;
        }
        ~ p {
            @include Text-s;
            font-weight: 400;
            padding-top: 40px;
            padding-right: 10%;
        }
    }
}


.restaurants-pages-button-order {
    margin-top: 40px;
    margin-bottom: 40px;           
}
