/* Loading spinner for home page */

.spinner {
    width: 200px;
    height: 200px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 18%;
    border-top: 12px solid $color-primary;
    border-right: 12px solid transparent;
    border-radius: 50%;
    animation: spinner-rotation $spinner-duration cubic-bezier(0.4,0.41,0.94,0.84) $spinner-delay 3 both, spinner-disparition $spinner-disparition-duration linear $spinner-disparition-delay both;
    opacity: $spinner-opacity;
    &__text {
        @include Text-l;
        height: auto;
        width: 150px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: $spinner__text-top-value;
        text-align: left;
        opacity: $spinner-opacity;
        animation: spinner-disparition $spinner-disparition-duration linear $spinner-disparition-delay both;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &__point {
        &--A {
            @include Border-spinner__text--A;
            opacity: $spinner-opacity;
            animation: dot-moving $dot-duration infinite alternate, spinner-disparition $spinner-disparition-duration linear $spinner-disparition-delay both;
        }
        &--B {
            @include Border-spinner__text--A;
            opacity: $spinner-opacity;
            animation: dot-moving $dot-duration 50ms infinite alternate, spinner-disparition $spinner-disparition-duration linear $spinner-disparition-delay both;
        }
        &--C {
            @include Border-spinner__text--A;
            opacity: $spinner-opacity;
            animation: dot-moving $dot-duration 100ms infinite alternate, spinner-disparition $spinner-disparition-duration linear $spinner-disparition-delay both;
        }
    }
}

.container__home {
    opacity: $spinner-container-opacity;
    animation: container-opacity-during-spinner $spinner-disparition-duration linear $spinner-disparition-delay both;
}

/* Transition on hover over main buttons for home page */

.home-nav__button {
    transition: box-shadow 1500ms, background-color 1500ms;
    &:hover {
        @include Border-shadow-strong;
        background-color: lighten($color: $grey-light, $amount: 1);
        transition: box-shadow 500ms, background-color 500ms;
        }
}

.home-header__explore-button, .restaurants-pages-button-order {
    transition: box-shadow 500ms, background-position 5ms;
    &:hover {
        @include Border-shadow-strong;
        background-position: 0% 100%;
        transition: box-shadow 500ms, background-position 5ms;
    }
}
/* NB: Il n'est pas possible d'animer la propriété "Background" alors 
j'ai créé un background plus grand avec 2 couleurs plus claires
et j'ai fait varier la position du background verticalement.
Problème: la durée de la transition doit etre très courte sinon on voit le background défiler*/

/* Deuxième possibilité a explorer : Mettre un bouton avec un background + clair en position absolue derrière
et jouer sur l'opacité */


        



/* Full Pink heart appearring for restaurants pages */

.restaurants-pages-nav i:nth-child(2):hover + i {
        animation: pink-heart 1s linear both;
        transform-origin: right top;
    }

    /* Menu appearance for restaurants pages */

    .restaurants-pages-button {
        &--starter {
            animation: menu-appearance 1500ms both;
        }
        &--dish {
            animation: menu-appearance 1500ms 500ms both;
        }
        &--dessert {
            animation: menu-appearance 1500ms 1s both;
        }
    }

    /* Dishes's selection */ 

