/* Loading spinner for home page */

@keyframes spinner-rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes dot-moving {
    from {transform: translateY(0%);}
    to {transform: translateY(-100%);}    
}

@keyframes spinner-disparition {
    from {opacity: $spinner-opacity;}
    to {opacity: 0;}
}

@keyframes container-opacity-during-spinner {
    from {opacity: $spinner-container-opacity;}
    to {opacity:1;}
    
}

/* Pink heart appearring for favorite restaurant */

@keyframes pink-heart {
    0% {z-index: -1;
    opacity: 0;}
    100% {
        z-index: 1;
        opacity: 1;}
    
}


    /* Menu appearance for restaurants pages */

    @keyframes menu-appearance {
        0% { opacity: 0;
        transform: translateY(0%)}
        100% { opacity: 1;
        transform: translateY(-5%);}
        
    }

    /* Dishes's selection */ 

    @keyframes dish-selected-price {
        0% {transform: translateX(0%);}
        100% {transform: translateX(-80%);}
    }

    @keyframes dish-selected-background {
        0% {transform: translateX(0%);
        opacity: 0;
    background-color: transparent;}
        20% {opacity: 0;
        background-color: transparent;}
        100% {transform: translateX(-100%);
        opacity: 1;
    background-color: $color-tertiary;}
    }

    @keyframes dish-selected-checked {
        0% { opacity: 0;
            transform: rotate(0deg);}
        20% {opacity: 0;}
        100% {opacity: 1;
            transform: rotate(360deg);}
    }
